[submodule "third_party/quickjs"]
	path = third_party/quickjs
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/htmlayout"]
	path = third_party/htmlayout
	url = https://github.com/wlejon/htmlayout.git
[submodule "third_party/brokit"]
	path = third_party/brokit
	url = https://github.com/wlejon/brokit.git
[submodule "third_party/broaudio"]
	path = third_party/broaudio
	url = https://github.com/wlejon/broaudio.git
[submodule "third_party/jolt"]
	path = third_party/jolt
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "third_party/qjsbind"]
	path = third_party/qjsbind
	url = https://github.com/wlejon/qjsbind.git
[submodule "third_party/bromesh"]
	path = third_party/bromesh
	url = https://github.com/wlejon/bromesh.git
[submodule "third_party/brogameagent"]
	path = third_party/brogameagent
	url = https://github.com/wlejon/brogameagent.git
[submodule "third_party/bromath"]
	path = third_party/bromath
	url = https://github.com/wlejon/bromath.git
[submodule "third_party/brotensor"]
	path = third_party/brotensor
	url = git@github.com:wlejon/brotensor.git
[submodule "third_party/brodiffusion"]
	path = third_party/brodiffusion
	url = git@github.com:wlejon/brodiffusion.git
[submodule "third_party/broflora"]
	path = third_party/broflora
	url = git@github.com:wlejon/broflora.git
